.header{
    display: flex;
    justify-content: space-between;
    background-color: blue  ;
}
.header h1{
    color: antiquewhite;
    margin-left: 10px;
}
.User-details label{
    display: flex;
    color: wheat;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 5px;
    text-align: center ;
}
.Question-and-Answer-container{
    width: 70%;
    height: 450px;
    border-radius: 20px;
    background-color: red;
}
.question-container input{
    margin: 20px;
    padding: 10px;
}
.question-container h2{
    color: white;
    text-align: center;
    padding: 30px;
}
#button-container{
    display: flex;
    justify-content: space-between;
}
#previous-btn{
    color: aquamarine;
    background-color: blue;
    border: none;
    margin-left: 10px;
    border-radius: 40px;

}
#next-btn,#previous-btn{
    padding: 10px 20px;
}
#next-btn{
    color: aqua;
    background-color: blue;
    border-radius: 40px;
    margin-right: 10px;
    border: none;
    font-weight: 500;
}